<a href="https://colab.research.google.com/github/223t1a3119/Practice/blob/main/SI_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
N = int(input())
A = list(map(int,input().split()))
current =0
max_alt = 0
for i in range(N):
  current += A[i]
  max_alt = max(current,max_alt)
print(max_alt)

5
-5 1 5 0 -7
1

In [ ]:
# Read dimensions of the first matrix
n1, n2 = map(int, input().split())
A = []

# Read elements of the first matrix
for i in range(n1):
    row = list(map(int, input().split()))
    A.append(row)

# Read dimensions of the second matrix
m1, m2 = map(int, input().split())
B = []

# Read elements of the second matrix
for i in range(m1):
    row = list(map(int, input().split()))
    B.append(row)

# Check if matrix multiplication is possible
if n2 != m1:
    raise ValueError("Matrix multiplication not possible: number of columns in A must be equal to the number of rows in B.")

# Initialize the result matrix with zeros
C = [[0] * m2 for _ in range(n1)]

# Perform matrix multiplication
for i in range(n1):
    for j in range(m2):
        C[i][j] = sum(A[i][k] * B[k][j] for k in range(n2))

# Print the resulting matrix
for row in C:
    print(' '.join(map(str, row)))

2 2
1 2
3 -1
2 3
1 -2 3
2 3 -1
5 4 1
1 -9 10

In [ ]:
jewels = input()
stones = input()
count = 0
for i in range(len(jewels)):
  for j in range(len(stones)):
    if jewels[i] == stones[j]:
      count = count+1
print(count)

aA
aAAbbbb
3

In [ ]:
a,b,c,d = map(int,input().split())
if a == b or a==c or a == d:
  print(1)
else:
  print(0)

5 5 4 4
1

In [ ]:
n = int(input())
arr = list(map(int,input().split()))
count = 0
ans = 0
for i in range(n):
  if arr[i]==1:
    count = count+1
  else:
    count = 0
print(count)

In [ ]:
n = int(input())
odd_count = 0
even_count = 0

if (n & 1 == 0):
  even_count = even_count+1
elif (n & 1 != 0):
  odd_count = odd_count+1
print(even_count,odd_count)

50
1 0

In [ ]:
x, y = map(int,input().split())
z = (1<<x)-1
result = z<<y
print(result)

3 4
112

In [ ]:
x,y = map(int,input().split())
z = x^y
a = ""
while z>0:
  a = str(z%2)+a
  z = z//2
  z = z-1
count = 0
n= len(a)
print(n)
for i in range(n):
  if a[i] == 1:
    count = count+1
print(count)

In [ ]:
a,b,c = map(int,input().split())
if (a != b) and (a != c):
  print(a)
elif (b != a) and (b != c):
  print(b)
else:
  print(c)

1 2 1
2

In [ ]:
n = int(input())
A = []
for i in range(n):
  arr = list(map(int,input().split()))
  A.append(arr)
for i in range(n):
  for j in range(n):
    print(A[j][i], end =" ")
  print()

2
1 2
3 4
1 3
2 4

In [ ]:
x,y,z = map(int,input().split())
p = x*y
q = z*24*60
if p<q:
  print("Yes")
else:
  print("No")

5 5 5
Yes

In [ ]:
t = int(input())
for i in range(t):
    x,y,z = map(int,input().split())
    p = x*y
    q = z*24*60
    if p<=q:
        print("Yes")
    else:
        print("No")

3
5 5 5
Yes
50 80 2
No
20 72 1
Yes

In [ ]:
t = int(input())
while t > 0:
    n = int(input())
    arr = list(map(int, input().split()))

    # Step 1: Compute the OR of all elements
    y = 0
    for i in range(n):
        y |= arr[i]

    # Step 2: Find the smallest power of 2 that is greater than y
    ans = 0
    while (1 << ans) <= y:
        ans += 1

    # Calculate the result as 2^ans
    result = 1 << ans

    # Step 3: Count the number of elements >= result
    count = 0
    for k in range(n):
        if arr[k] >= result:
            count += 1

    print(count)
    t -= 1

1
2
6 16
0

In [ ]:
def Fib(n : int ):
  if n == 0:
    return 0
  if n == 1:
    return 1
  return (Fib(n-1)+Fib(n-2))

n = int(input())
print(Fib(n))

3
2

In [9]:

n = int(input())
arr = list(map(int,input().split()))
x = min(arr)
#print(x)
sum = 0
for i in range(n):
  if (arr[i] > x):
    y = abs(arr[i]-x)
    sum = sum +y
  else:
    sum = 0
print(sum)

1
10000000
0

In [10]:
t = int(input())
while (t>0):
    n = int(input())
    arr = list(map(int,input().split()))
    x = min(arr)
    sum = 0
    for i in range(n):
        if (arr[i] > x):
            y = abs(arr[i]-x)
            sum = sum +y
        else:
            sum = 0
    print(sum)
    t = t-1

2
5
1 2 3 4 5
10
3
8 8 8
0